@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles, padding and margin on ul, ol elements with a class, which suggests default styling will be removed */
ul:where([class]),
ol:where([class]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Débuggueur CSS  */
/* * {
  outline: 1px solid red;
} */
/* Root font size equivalent à 10px pour simplifier les calculs */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: 0.625em;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  font-size: 1.6rem;
}

/* Set text selection color */
::selection {
  color: #000;
  background-color: #fd0;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* kumbh-sans-regular - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/kumbh-sans-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kumbh-sans-v10-latin-regular.woff2") format("woff2"), url("../fonts/kumbh-sans-v10-latin-regular.woff") format("woff"), url("../fonts/kumbh-sans-v10-latin-regular.ttf") format("truetype"), url("../fonts/kumbh-sans-v10-latin-regular.svg#KumbhSans") format("svg");
  /* Legacy iOS */
}
/* kumbh-sans-700 - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v10-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/kumbh-sans-v10-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/kumbh-sans-v10-latin-700.woff2") format("woff2"), url("../fonts/kumbh-sans-v10-latin-700.woff") format("woff"), url("../fonts/kumbh-sans-v10-latin-700.ttf") format("truetype"), url("../fonts/kumbh-sans-v10-latin-700.svg#KumbhSans") format("svg");
  /* Legacy iOS */
}
:focus {
  outline: 0.2rem dashed var(--primary);
  outline-offset: 0.5rem;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--primary-dark);
  background-color: var(--secondary-light);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

body {
  display: grid;
  grid-template-rows: 9.6rem repeat(2, 4rem);
  grid-template-areas: "h" "hs" "s";
}

@media screen and (min-width: 48em) {
  body {
    grid-template-rows: 12rem repeat(2, 4rem);
  }
}
.container {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media screen and (min-width: 48em) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media screen and (min-width: 90em) {
  .container {
    padding-right: 16.5rem;
    padding-left: 16.5rem;
  }
}
.main-header {
  background-image: url(../img/header_bg_mobile.svg);
  background-size: cover;
  background-position: bottom;
  padding-top: 3.2rem;
  padding-bottom: 7.9rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo {
  width: 11.5rem;
  height: 3.2rem;
}
.main-header .themeswitcher {
  display: flex;
  gap: 1.5rem;
}
.main-header .themeswitcher__sun {
  width: 2rem;
}
.main-header .themeswitcher__toggle {
  width: 4.8rem;
  height: 2.4rem;
  border: none;
  border-radius: 1.2rem;
  background-color: white;
  display: flex;
  align-items: center;
}
.main-header .themeswitcher__toggle.dark {
  justify-content: flex-end;
}
.main-header .themeswitcher__toggle:hover, .main-header .themeswitcher__toggle:focus {
  background-color: white;
}
.main-header .themeswitcher__circle {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #5964e0;
  transition: background-color 0.3s;
}
.main-header .themeswitcher__moon {
  width: 1.2rem;
}

@media screen and (min-width: 48em) {
  .main-header {
    background-image: url(../img/header_bg_tablet.svg);
    padding-top: 4.2rem;
    padding-bottom: 9.3rem;
  }
}
@media screen and (min-width: 90em) {
  .main-header {
    background-image: url(../img/header_bg_desktop.svg);
    padding-top: 4.4rem;
    padding-bottom: 9rem;
  }
}
.searchbar {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.searchbar__form {
  display: grid;
  grid-template-columns: 9.75fr 1fr 2.4fr;
  gap: 2.4rem;
  align-items: center;
  height: 8rem;
  padding-right: 1.6rem;
  background-color: white;
  border-radius: 0.8rem;
  overflow: hidden;
}
.searchbar__form input {
  border: none;
  background-color: white;
  padding-left: 2.5rem;
  min-width: 13rem;
}
.searchbar__form svg {
  width: 2rem;
}
.searchbar__form button {
  background-color: #5964e0;
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
}
.searchbar__form button img {
  width: 2.4rem;
  margin: auto;
}
.searchbar__form button:hover, .searchbar__form button:focus {
  background-color: #939bf4;
}

.card h4 {
  color: var(--primary);
}
.card a {
  text-decoration: none;
  color: inherit;
}
.card__logo {
  background-color: var(--primary-midnight);
}
.card__posted-at, .card__oval, .card__contract, .card__company {
  color: var(--secondary-darker);
}

/*# sourceMappingURL=style.css.map */
