@charset "UTF-8";
html[color-mode=light] {
  --body-bgcolor: #f4f6f8;
  --form-bgcolor: #ffffff;
  --form-color: inherit;
  --funnel-icon-color: #6e8098;
  --full_time-bgcolor: #19202d;
  --modal__box-bgcolor: #ffffff;
  --card-bgcolor: #ffffff;
  --card__position-color: inherit;
}

html[color-mode=dark] {
  --body-bgcolor: #121721;
  --form-bgcolor: #19202d;
  --form-color: #ffffff;
  --funnel-icon-color: #ffffff;
  --full_time-bgcolor: #ffffff;
  --modal__box-bgcolor: #19202d;
  --card-bgcolor: #19202d;
  --card__position-color: #ffffff;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles, padding and margin on ul, ol elements with a class, which suggests default styling will be removed */
ul:where([class]),
ol:where([class]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Débuggueur CSS  */
/* * {
  outline: 1px solid red;
} */
/* Root font size equivalent à 10px pour simplifier les calculs */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: 0.625em;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Set core body defaults */
body {
  font-size: 1.6rem;
}

/* Set text selection color */
::selection {
  color: #000;
  background-color: #fd0;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* kumbh-sans-regular - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/kumbh-sans-v10-latin-regular.woff2") format("woff2"), url("../fonts/kumbh-sans-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kumbh-sans-700 - latin */
@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/kumbh-sans-v10-latin-700.woff2") format("woff2"), url("../fonts/kumbh-sans-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:focus {
  outline: 0.2rem dashed #5964e0;
  outline-offset: 0.5rem;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

body {
  color: #19202d;
  background-color: var(--body-bgcolor);
  display: grid;
  grid-template-rows: 9.6rem repeat(2, 4rem);
  grid-template-areas: "h" "hs" "s";
}

@media screen and (min-width: 48em) {
  body {
    grid-template-rows: 12rem repeat(2, 4rem);
  }
}
.container {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media screen and (min-width: 48em) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media screen and (min-width: 90em) {
  .container {
    padding-right: 16.5rem;
    padding-left: 16.5rem;
  }
}
.main-header {
  background-image: url(../img/header_bg_mobile.svg);
  background-size: cover;
  background-position: bottom;
  padding-top: 3.2rem;
  padding-bottom: 7.9rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo {
  width: 11.5rem;
  height: 3.2rem;
}
.main-header .themeswitcher {
  display: flex;
  gap: 1.5rem;
}
.main-header .themeswitcher__sun {
  width: 2rem;
}
.main-header .themeswitcher__toggle {
  width: 4.8rem;
  height: 2.4rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.main-header .themeswitcher__toggle.dark {
  justify-content: flex-end;
}
.main-header .themeswitcher__circle {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #5964e0;
  transition: background-color 0.3s;
}
.main-header .themeswitcher__moon {
  width: 1.2rem;
}

@media screen and (min-width: 48em) {
  .main-header {
    background-image: url(../img/header_bg_tablet.svg);
    padding-top: 4.2rem;
    padding-bottom: 9.3rem;
  }
}
@media screen and (min-width: 90em) {
  .main-header {
    background-image: url(../img/header_bg_desktop.svg);
    padding-top: 4.4rem;
    padding-bottom: 9rem;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding-bottom: 6.2rem;
}
main .card_list {
  padding-top: 5.7rem;
  padding-bottom: 3.2rem;
  display: grid;
  row-gap: 4.9rem;
}
main button {
  align-self: center;
}

@media screen and (min-width: 48em) {
  main .card_list {
    padding-top: 7rem;
    padding-bottom: 5.6rem;
    row-gap: 6.5rem;
    column-gap: 1.1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 90em) {
  main {
    padding-bottom: 10.4rem;
  }
  main .card_list {
    padding-top: 10.5rem;
    padding-bottom: 5.6rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}
.searchbar {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.searchbar__form {
  display: grid;
  grid-template-columns: minmax(11rem, 1fr) repeat(2, max-content);
  gap: 2.4rem;
  align-items: center;
  height: 8rem;
  padding-right: 1.6rem;
  padding-left: 2.5rem;
  background-color: var(--form-bgcolor);
  color: var(--form-color);
  border-radius: 0.6rem;
  overflow: hidden;
}
.searchbar__form input {
  border: none;
  background-color: inherit;
  color: inherit;
}
.searchbar__form input.title_input {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.searchbar__form input.location_input {
  display: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.searchbar__form input.full_time {
  font-weight: 700;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  appearance: none;
  border-radius: 0.3rem;
  margin: 0;
  background-color: var(--full_time-bgcolor);
  accent-color: #5964e0;
  opacity: 0.135;
}
.searchbar__form input.full_time:checked {
  appearance: auto;
  opacity: 1;
}
.searchbar__form .funnel_icon {
  cursor: pointer;
}
.searchbar__form .funnel_icon path {
  fill: var(--funnel-icon-color);
}
.searchbar__form .full_time {
  display: none;
  font-weight: 700;
}
.searchbar__form svg {
  width: 2rem;
}
.searchbar__form svg.magnifying_glass_icon {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
}
.searchbar__form svg.location_icon {
  display: none;
  width: 1.7rem;
  height: 2.4rem;
}
.searchbar__form button {
  width: 4.8rem;
  height: 4.8rem;
}
.searchbar__form button img {
  width: 2.4rem;
  margin: auto;
}
.searchbar__form button .button_text {
  display: none;
}
.searchbar__form .modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.searchbar__form .modal__background {
  background-color: rgba(0, 0, 0, 0.4965);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.searchbar__form .modal__box {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 32.7rem;
  transform: translate(-50%, -50%);
  background-color: var(--modal__box-bgcolor);
  border-radius: 0.6rem;
  padding-bottom: 2.4rem;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 7.2rem) min-content;
}
.searchbar__form .modal__box .form_line {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
.searchbar__form .modal__box .form_line:first-child {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.searchbar__form .modal__box .borderbottom {
  border-bottom: 1px solid #6e809833;
}
.searchbar__form .modal__box .location_input {
  padding-top: 0;
  padding-bottom: 0;
}
.searchbar__form .modal__box .full_time {
  font-weight: 700;
}
.searchbar__form .modal__box button {
  width: 4.8rem;
  height: 4.8rem;
}
.searchbar__form .modal__show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.searchbar__form .modal__show .location_icon,
.searchbar__form .modal__show .location_input,
.searchbar__form .modal__show .full_time {
  display: block;
}
.searchbar__form .modal__show button {
  width: 27.9rem;
  height: 4.8rem;
}
.searchbar__form .modal__show button .button_text {
  display: inline;
}

@media screen and (min-width: 48em) {
  .searchbar__form {
    grid-template-columns: max-content minmax(11rem, 1fr) max-content minmax(14rem, 1fr) repeat(3, max-content);
    gap: 1.7rem;
    padding-left: 2.4rem;
    padding-right: 1.6rem;
  }
  .searchbar__form svg.magnifying_glass_icon, .searchbar__form svg.location_icon {
    display: block;
  }
  .searchbar__form svg.location_icon {
    margin-left: 0.7rem;
  }
  .searchbar__form input.title_input {
    border-right: 1px solid #6e809833;
  }
  .searchbar__form input.location_input {
    display: block;
    border-right: 1px solid #6e809833;
  }
  .searchbar__form input.full_time {
    margin-left: 0.3rem;
  }
  .searchbar__form .funnel_icon {
    display: none;
  }
  .searchbar__form .full_time {
    display: block;
  }
  .searchbar__form button {
    width: 8rem;
    margin-left: 1rem;
  }
  .searchbar__form button img {
    display: none;
  }
  .searchbar__form button .button_text {
    display: block;
  }
}
@media screen and (min-width: 90em) {
  .searchbar__form {
    padding-left: 3.2rem;
  }
  .searchbar__form input.full_time {
    margin-left: 1.5rem;
  }
  .searchbar__form button {
    width: 12.3rem;
    margin-left: 0.7rem;
  }
}
.card {
  padding-right: 3.2rem;
  padding-bottom: 3.6rem;
  padding-left: 3.2rem;
  background-color: var(--card-bgcolor);
  border-radius: 0.6rem;
}
.card h4 {
  color: #5964e0;
}
.card a {
  text-decoration: none;
  color: inherit;
}
.card__logo {
  background-color: #121721;
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
  transform: translateY(-50%);
}
.card__oval {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #6e8098;
}
.card__when_what {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 2.2rem;
}
.card__position {
  margin-bottom: 2rem;
  color: var(--card__position-color);
}
.card__company {
  margin-bottom: 4.6rem;
}
.card__posted-at, .card__contract, .card__company {
  color: #6e8098;
}

button {
  width: 14.1rem;
  height: 4.8rem;
  background-color: #5964e0;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}
button .button_text {
  color: #ffffff;
  font-weight: 700;
}
button:hover, button:focus {
  background-color: #939bf4;
}

/*# sourceMappingURL=style.css.map */
