body.details-page {
    grid-template-rows: 9.6rem;
}

.main-content.details-page {
    padding-bottom: 6.4rem;
}

@media screen and (min-width: $tablet) {
    .main-content.details-page {
        padding-bottom: 5.3rem;
    }
}

@media screen and (min-width: $desktop) {
    .main-content.details-page {
        padding-bottom: 8rem;
    }
}

.details {
    max-width: 73rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    &__header {
        transform: translateY(-1.5rem);

        .card {
            padding-bottom: 3.2rem;

            &__logo {
                margin-right: auto;
                margin-left: auto;
            }
    
            &__title,
            &__company {
                text-align: center;
            }
    
            &__title {
                margin-bottom: 1.3rem;
            }
    
            &__company {
                margin-bottom: 2.7rem;
            }
    
            &__link {
                margin-right: auto;
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14.7rem;
                height: 4.8rem;
                border-radius: 0.5rem;
                background-color: var(--company-link-bgcolor);
                color: $primary;
                font-weight: 700;
                transition: 0.3s;
            }

            &__link:hover,
            &__link:focus {
                background-color: var(--company-link-bgcolor-hover);
            }
        }
    }

    &__content {
        .card {
            padding-top: 4rem;
            padding-right: 2.4rem;
            padding-bottom: 4rem;
            padding-left: 2.4rem;

            &__header {
                display: grid;
                margin-bottom: 3.2rem;
            }

            &__when_what {
                margin-bottom: 0.8rem;
            }

            &__title {
                margin-bottom: 1.2rem;
            }

            &__location {
                margin-bottom: 5.4rem;
            }

            .apply_button {
                width: 100%;
            }

            &__description,
            ul,
            ol {
                color: var(--description-color);
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin-top: 3.2rem;
                margin-bottom: 4rem;

                li {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    column-gap: 3.2rem;

                    &::before {
                        content: '\200B';
                        display: inline-block;
                        width: 0.4rem;
                        height: 0.4rem;
                        background-color: $primary;
                        border-radius: 50%;
                        transform: translateY(1.1rem);
                    }
                }
            }

            ol {
                list-style: none;
                counter-reset: taskscounter;
                padding-left: 0;
                margin-top: 3.2rem;
                margin-bottom: 0;

                li {
                    counter-increment: taskscounter;
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    column-gap: 3.2rem;

                    &::before {
                        content: counter(taskscounter);
                        color: $primary;
                        font-weight: 700;
                    }
                }
            }

            .requirements_title {
                margin-top: 6.6rem;
                margin-bottom: 2.8rem;
            }

            .role_title {
                margin-bottom: 2.3rem;
            }
        }
    }
}

.apply_zone {
    height: 9.6rem;
    background-color: var(--apply_zone-bgcolor);
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        max-width: 73rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__position_company {
        display: none;
    }

    &__position {
        color: var(--card-title-color);
    }

    &__company {
        color: $secondary-darker;
        line-height: 1;
    }

    .apply_button {
        width: 100%;
    }
}

@media screen and (min-width: $tablet) {
    .details {
        &__header {
            transform: translateY(-4rem);

            .card {
                display: flex;
                padding-right: 0rem;
                padding-left: 0;
                padding-bottom: 0;

                &__logo {
                    transform: translateY(0);
                    margin-right: 0;
                    margin-left: 0;
                    border-radius: 0;
                    border-bottom-left-radius: 0.6rem;
                    width: 14rem;
                    height: 14rem;
                }

                &__content {
                    flex-grow: 1;
                    padding-right: 4rem;
                    padding-left: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &__title,
                &__company {
                    text-align: left;
                }

                &__title {
                    margin-bottom: 0;
                }

                &__company {
                    margin-bottom: 0;
                }

                &__link {
                    margin-right: 0;
                    margin-left: 0;
                    color: var(--company-link-color);
                }
            }
        }

        &__content {
            .card {
                padding-top: 4.8rem;
                padding-right: 4.8rem;
                padding-bottom: 4.8rem;
                padding-left: 4.8rem;
    
                &__header {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    margin-bottom: 4rem;
                }
    
                &__when_what {
                    margin-bottom: 0.8rem;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
    
                &__title {
                    margin-bottom: 1.2rem;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
    
                &__location {
                    margin-bottom: 0;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
    
                .apply_button {
                    width: 14.1rem;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 4;
                    justify-self: end;
                }
    
                &__description,
                ul,
                ol {
                    color: var(--description-color);
                }
    
                ul {
                    list-style: none;
                    padding-left: 0;
                    margin-top: 2.4rem;
                    margin-bottom: 4rem;
    
                    li {
                        display: grid;
                        grid-template-columns: min-content 1fr;
                        column-gap: 3.2rem;
    
                        &::before {
                            content: '\200B';
                            display: inline-block;
                            width: 0.4rem;
                            height: 0.4rem;
                            background-color: $primary;
                            border-radius: 50%;
                            transform: translateY(1.1rem);
                        }
                    }
                }
    
                ol {
                    list-style: none;
                    counter-reset: taskscounter;
                    padding-left: 0;
                    margin-top: 2.4rem;
                    margin-bottom: 0;
    
                    li {
                        counter-increment: taskscounter;
                        display: grid;
                        grid-template-columns: min-content 1fr;
                        column-gap: 3.2rem;
    
                        &::before {
                            content: counter(taskscounter);
                            color: $primary;
                            font-weight: 700;
                        }
                    }
                }
    
                .requirements_title {
                    margin-top: 4rem;
                    margin-bottom: 2.8rem;
                }
    
                .what_you_will_do_title {
                    margin-bottom: 2.3rem;
                }
            }
        }
    }

    .apply_zone {
        .container {
            padding-right: 0;
            padding-left: 0;
        }

        &__position_company {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }

        .apply_button {
            width: 14.1rem;
        }
    }
}