$primary : #5964e0;
$primary-light : #939bf4;
$primary-dark: #19202d;
$primary-midnight: #121721;
$secondary: #ffffff;
$secondary-light: #f4f6f8;
$secondary-dark: #9daec2;
$secondary-darker: #6e8098;

$tablet: 48em;
$desktop: 90em;

$form-border: 1px solid #6e809833;

html[data-color-mode='light'] {
    --body-bgcolor: #{$secondary-light};
    --form-bgcolor: #{$secondary};
    --form-color: inherit;
    --funnel-icon-color: #{$secondary-darker};
    --full_time-bgcolor: #{$primary-dark};
    --modal__box-bgcolor: #{$secondary};
    --card-bgcolor: #{$secondary};
    --card-title-color: inherit;
    --company-link-bgcolor: rgba(89, 100, 224, 0.1);
    --company-link-bgcolor-hover: rgba(89, 100, 224, 0.3512);
    --company-link-color: #{$primary};
    --description-color: #{$secondary-darker};
    --apply_zone-bgcolor: #{$secondary};
}

html[data-color-mode='dark'] {
    --body-bgcolor: #{$primary-midnight};
    --form-bgcolor: #{$primary-dark};
    --form-color: #{$secondary};
    --funnel-icon-color: #{$secondary};
    --full_time-bgcolor: #{$secondary};
    --modal__box-bgcolor: #{$primary-dark};
    --card-bgcolor: #{$primary-dark};
    --card-title-color: #{$secondary};
    --company-link-bgcolor: rgba(255, 255, 255, 0.1);
    --company-link-bgcolor-hover: rgba(255, 255, 255, 0.25);
    --company-link-color: #{$secondary};
    --description-color: #{$secondary-dark};
    --apply_zone-bgcolor: #{$primary-dark};
}