.card {
    h4 {
        color: var(--primary);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &__logo {
        background-color: var(--primary-midnight);
    }

    &__posted-at,
    &__oval,
    &__contract,
    &__company {
        color: var(--secondary-darker);
    }
}