.searchbar {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    &__form {
        display: grid;
        grid-template-columns: minmax(11rem, 1fr) repeat(2, max-content);
        gap: 2.4rem;
        align-items: center;
        height: 8rem;
        padding-right: 1.6rem;
        padding-left: 2.5rem;
        background-color: var(--form-bgcolor);
        color: var(--form-color);
        border-radius: .6rem;
        overflow: hidden;

        input {
            border: none;
            background-color: inherit;
            color: inherit;

            &.title_input {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }

            &.location_input {
                display: none;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }

            &.full_time {
                font-weight: 700;
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
                appearance: none;
                border-radius: 0.3rem;
                margin: 0;
                background-color: var(--full_time-bgcolor);
                accent-color: $primary;
                opacity: 0.135;
            }

            &.full_time:checked {
                appearance: auto;
                opacity: 1;
            }
        }

        .funnel_icon {
            cursor: pointer;

            path {
                fill: var(--funnel-icon-color);
            }
        }

        .full_time {
            display: none;
            font-weight: 700;
        }

        svg {
            width: 2rem;

            &.magnifying_glass_icon {
                display: none;
                width: 2.4rem;
                height: 2.4rem;
            }

            &.location_icon {
                display: none;
                width: 1.7rem;
                height: 2.4rem;
            }
        }

        button {
            width: 4.8rem;
            height: 4.8rem;

            img {
                width: 2.4rem;
                margin: auto;
            }

            .button_text {
                display: none;
            }
        }

        .modal {
            display: flex;
            flex-direction: column;
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

            &__background {
                background-color: rgba(0, 0, 0, 0.4965);
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &__box {
                position: fixed;
                top: 50%;
                left: 50%;
                min-width: 32.7rem;
                transform: translate(-50%, -50%);
                background-color: var(--modal__box-bgcolor);
                border-radius: .6rem;
                padding-bottom: 2.4rem;
                display: grid;
                align-items: center;
                grid-template-rows: repeat(2, 7.2rem) min-content;

                .form_line {
                    display: flex;
                    align-items: center;
                    gap: 1.7rem;

                    &:first-child {
                        margin-top: 2.4rem;
                        margin-bottom: 2.4rem;
                    }
                }

                .borderbottom {
                    border-bottom: $form-border;
                }

                .location_input {
                    padding-top: 0;
                    padding-bottom: 0;

                }

                .full_time {
                    font-weight: 700;
                }

                button {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }

            &__show {
                opacity: 1;
                visibility: visible;
                transform: scale(1.0);
                transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;

                .location_icon,
                .location_input,
                .full_time {
                    display: block;
                }

                button {
                    width: 27.9rem;
                    height: 4.8rem;
                    
                    .button_text {
                        display: inline;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $tablet) {
    .searchbar {

        &__form {
            grid-template-columns: max-content minmax(11rem, 1fr) max-content minmax(14rem, 1fr) repeat(3, max-content);
            gap: 1.7rem;
            padding-left: 2.4rem;
            padding-right: 1.6rem;

            svg {
                &.magnifying_glass_icon,
                &.location_icon {
                    display: block;
                }

                &.location_icon {
                    margin-left: 0.7rem;
                }
            }

            input {

                &.title_input {
                    border-right: $form-border;
                }

                &.location_input {
                    display: block;
                    border-right: $form-border;
                }

                &.full_time {
                    margin-left: 0.3rem;
                }
            }

            .funnel_icon {
                display: none;
            }

            .full_time {
                display: block;
            }

            button {
                width: 8rem;
                margin-left: 1rem;

                img {
                    display: none;
                }

                .button_text {
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: $desktop) {
    .searchbar {

        &__form {
            padding-left: 3.2rem;

            input {                
                &.full_time {
                    margin-left: 1.5rem;
                }
            }


            button {
                width: 12.3rem;
                margin-left: 0.7rem;
            }
        }


    }
}