$primary : rgb(89, 100, 224);
$primary-light : rgb(147, 155, 244);
$primary-dark: rgb(25, 32, 45);
$primary-midnight: rgb(18, 23, 33);
$secondary: rgb(255, 255, 255);
$secondary-light: rgb(244, 246, 248);
$secondary-dark: rgb(157, 174, 194);
$secondary-darker: rgb(110, 128, 152);

$tablet: 48em;
$desktop: 90em;