$primary : #5964e0;
$primary-light : #939bf4;
$primary-dark: #19202d;
$primary-midnight: #121721;
$secondary: #ffffff;
$secondary-light: #f4f6f8;
$secondary-dark: #9daec2;
$secondary-darker: #6e8098;

$tablet: 48em;
$desktop: 90em;

$form-border: 1px solid rgba(110, 128, 152, 0.2);